.image {
  border-radius: 2em;
  align-items: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
  display: block;
  padding: 1em
}

.post {
  color: white;
  padding: 0.5em;
  min-width: 80%;
  font-size: large;
  margin-bottom: 10px;
  border-radius: 4em;
  background-color: dodgerblue;
  font-family: "Microsoft Sans Serif", sans-serif;
}