.smartphone-conversation {
  display: flex;
  padding: 10px;
  height: 39rem;
  flex-direction: column;
  background-color: black;
}

.message-item {
  z-index: 1;
  min-height: 8em;
  background-color: blue;
}
