.root {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: lightgray;
}

.text {
  background-color: lightgrey;
}

.container {
  margin-top: 3em;
  display: flex;
  align-items: center;
  border-radius: 5em;
  padding: 1em;
  margin-top: 2em;
  font-size: large;
  font-family: "Microsoft Sans Serif", sans-serif;
}

.input {
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.5em;
  width: calc(60vh - 2vh);
  background-color: lightgrey;
}

btnctn {
  /*margin: 5em;*/
}

.button {
  color: #000000;
  border-radius: 0.5em;
  background-color: white;
  justify-content: flex-end;
  align-items: flex-end;
  justify-items: flex-end;
  display: flex;
  font-size: 50px;
  margin: 20px;
  transform: scale(110%);
}

.button:hover {
  color: #FFFFFF;
  color: #FFFFFF;
  transform: scale(120%);
  transition-duration: 300ms;
}