.root {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: lightgray;
}

.text {
  background-color: lightgrey;
}

.container {
  margin-top: 3em;
  display: flex;
  align-items: center;
  border-radius: 5em;
  padding: 1em;
  margin-top: 2em;
  width: 100%;
}

.input {
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.5em;
  width: calc(65vh - 5px);
  background-color: lightgrey;
}

.button {
  color: #000000;
  border-radius: 0.5em;
  background-color: white;
  margin-left: 0.5em;
}

.button:hover {
  color: #FFFFFF;
  background-color: dodgerblue;
}