.smartphone {
  inset: 8em;
  display: flex;
  padding: 0.25em;
  flex-wrap: wrap;
  overflow-y: scroll;
  flex-direction: column;
  border-radius: 0.5em;
  border-style: double;
  background-color: black;
  height: calc(100vh - 10px);
}

.imgcontainer {
  height: 5em;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
}

.img {
  height: 5em;
  max-width: 5em;
  object-fit: cover;
  border-radius: 5em;
}

.user {
  background-color: #FFFFFF;
}
