.smartphone {
  inset: 8em;
  padding: 0.25em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 0.5em;
  border-style: double;
  background-color: black;
  height: calc(100vh - 10px);
}

.imgcontainer {
  height: 5em;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.img {
  max-width: 5em;
  height: 5em;
  object-fit: cover;
  border-radius: 5em;
}

.user {
  background-color: #FFFFFF;
}
