.smartphone-bubble {
  color: white;
  padding: 0.5em;
  min-width: 80%;
  font-size: 5px;
  margin-bottom: 10px;
  border-radius: 0.5em;
  background-color: dodgerblue;
  font-family: "Microsoft Sans Serif", sans-serif;
}